<!DOCTYPE html>
<html>
<body>
<body style="background-color:black;">

<h1 style="color:blanchedalmond ; text-align: center ;"> About WYM </h1>

<style>
.centrer {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
</style>

<img src="/static/bougie.jpg" width="404" height="442" class="centrer">

<h5 style="color:blanchedalmond ; text-align:center ;"> WYM is the best ! <h5>
    <h5 style="color:blanchedalmond ; text-align:center ;"> {{ titre  }}<h5>
<p></p>

<a href="/home"> Home</a>
<a href="/contact"> Contact us</a>
<a href="/model"> Make a resume</a>


</body>
</html>
