<!DOCTYPE html>
<html>
<body>

{% include 'base.html' %}

<style>
    .aligncenter {
        text-align: center;
    }
</style>
    
<body>
<div class = "position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <h1 class = "display-4 fw-normal"> About WYM </h1>
</div>


<p class="aligncenter">
    <img src="/static/img/logo.png" >
</p>


<h5 style="text-align:center ;"> WYM is the best website <h5>
    <p style="text-align:center ;">  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non libero arcu. Suspendisse ultricies orci eget diam varius auctor. Proin cursus fermentum tortor, ac molestie lacus tincidunt nec. Ut pellentesque quis tortor sit amet molestie. Quisque sit amet condimentum libero, et finibus metus. Donec euismod velit turpis, a convallis est molestie et. Mauris venenatis ullamcorper fringilla. Sed vestibulum pretium venenatis. Duis ornare dictum mauris, sit amet ornare massa posuere ut. Nullam rhoncus nec nulla non condimentum. Donec quis imperdiet lectus, quis aliquam massa. Vestibulum ut sapien a leo facilisis egestas quis at lacus. Donec ullamcorper eu tortor sed tristique.

        Fusce tempor augue non iaculis dictum. Donec nec suscipit magna. Suspendisse sed sem ipsum. Phasellus maximus dolor id tortor ornare, eget efficitur purus finibus. Donec non facilisis risus, quis viverra ipsum. Pellentesque cursus elementum rutrum. Nam pretium posuere dictum. Morbi venenatis in urna eget commodo. Aenean id efficitur nulla, non pellentesque nisi. Curabitur justo erat, cursus a consectetur vitae, volutpat id nulla. Donec in arcu nunc. Pellentesque laoreet mollis leo, a condimentum nisl euismod sit amet. Nullam accumsan a massa et semper. Duis quis libero bibendum quam aliquet fermentum. Vestibulum eu ligula varius, rhoncus purus et, sollicitudin augue. Maecenas molestie ipsum sed tortor aliquam viverra.
        
        Proin hendrerit arcu eu lobortis lobortis. Ut pharetra quis augue ut mattis. Nulla sit amet facilisis ipsum. Duis rutrum sit amet enim rhoncus commodo. Curabitur tempus enim id ex tempor bibendum. Suspendisse at felis hendrerit, vehicula lectus et, interdum metus. Nulla mollis ultrices ullamcorper. Nulla varius arcu sed odio bibendum pellentesque. Aliquam purus ligula, aliquam id lacus id, interdum efficitur sem. In gravida maximus lacus quis eleifend. Pellentesque iaculis erat rutrum hendrerit euismod. Integer hendrerit sollicitudin sapien sit amet pharetra. Vestibulum finibus nisl vitae dui tincidunt elementum. Aenean posuere lobortis lorem in porttitor. Nam faucibus ipsum vel lacus sagittis accumsan. <p>

</body>
</html>
