<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
    <link href="../static/css/product.css" rel="stylesheet">
  </head>
  <body>
    <header class="site-header sticky-top py-1">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <a class = "py-2" href="/">Home</a>
          <a class = "py-2 d-none d-md-inline-block" href="about">About</a>
          <a class = "py-2 d-none d-md-inline-block" href="contact">Contact</a>
          <a class = "py-2 d-none d-md-inline-block" href="model">Make a resume</a>
          <a class = "py-2 d-none d-md-inline-block" href="dash">Model performance</a>
      </nav>
    </header>
    </body>
</html>
