<!DOCTYPE html>
<html>
<body>
<body style="background-color:azure;">

<h1 style="color:brown ; text-align: center ;"> Want to express your self ?  </h1>

<label for="name">Name:</label>
<input type="text" id="name" name="name" required minlength="1" maxlength="50" size="15">

<label for="mail">E-mail:</label>
<input type="text" id="mail" name="mail" required minlength="5" maxlength="50" size="15">

<label for="phone">Phone:</label>
<input type="text" id="phone" name="phone" required minlength="0" maxlength="12" size="12"> 

<p></p>

<label for="story">Tell us your comment:</label>

<textarea id="comment" name="comment"
          rows="5" cols="33">
Texte zone...
</textarea>

<a href="/home"> Home</a>
<a href="/about"> About</a>
<a href="/model"> Make a resume</a>

</body>
</html>
