<!DOCTYPE html>
<html>
<body>
<body style="background-color:azure;">

<h1 style="color:brown ; text-align: center ;"> Do you want to cheat ?  </h1>
<p> The super summarizer is able to summarise text including Wikipedia :) </p>
<p> Summary of your text : {{ summary }} </p>

<p></p>

<form action="/model", method="GET">
    <p> Return to text input </p>
    <p> <input type = "submit" value = "Return" /></p>
</form>

<p></p>

<a href="/home"> Home</a>
<a href="/about"> About</a>
<a href="/contact"> Contact</a>

</body>
</html>